body{
            margin:0;
            padding:0;
            font-family: "Microsoft YaHei UI";
        }
        p{
            margin:0;
            padding:0;
        }
        .return-arr:link,
        .return-arr:visited{
            text-decoration: none;
            color:#999;
        }
        .return-arr{
            float: left;
            padding-left:4%;
            font-family: SimSun;
            font-weight: 900;
            font-size: 30px;
            line-height:40px;
        }
        .title{
            display: inline-block;
            font-size: 18px;
            line-height:40px;
            color: #666;
        }
        .collection{
            width: 100%;
        }
        #collection{
            float: right;
            outline: none;
        }
        .first-box{
            height:90px;
            border-bottom:solid 5px #eee;
        }
        .userpic{
            display: block;
            float: left;
            margin: 17px 0 17px 20px;
            border:solid 2px #ccc;
            border-radius: 29px;
        }
        .info-left{
            float: left;
            height: 90px;
            margin-left: 20px;
        }
        .info-left > div{
            margin-top: 10px;
        }
        .username{
            
            color: #666;
            font-size:14px;
        }
        .whatclass{
            color: #ccc;
            font-size:11px;
        }
        .issuetime{
            color: #999;
            font-size:14px;
        }
        .info-right{
            float: right;
            height: 90px;
            margin-right: 20px;
            text-align: center;
        }
        .info-right > div{
            margin-top: 10px;
        }
        .pricename{
            color: #666;
            font-size:11px;
        }
        .price{
            color: #f33;
            font-size:14px;
        }
        .goods-name{
            color: #666;
            font-size: 18px;
            height: 33px;
            padding-left:12px;
            line-height: 33px;
        }
        .product{
            clear: both;
            display: block;
            margin:auto;
            padding:2% 5%;
        }
        .address{
            padding-left: 12px;
            margin-top: 10px;
        }
        .address>span{
            color: #f33;
            font-size: 14px;
        }
        .intro-product{
            overflow: hidden;
            padding-bottom:60px;
        }
        .intro-product>div{
            color: #666;
            font-size: 18px;
            height: 33px;
            padding-left:12px;
            line-height: 33px;
        }
        .intro-text{
            padding:0 12px 0 12px;
            font-size: 14px;
            line-height: 20px;
        }
        .contactcss{
            position: fixed;
            bottom: 0;
            width:100%;
            height: 60px;
            color: #fff;
            font-size: 18px;
            text-align: center;
            line-height: 60px;
            background: #f4ce49;
        }
        .contactcss:link,
        .contactcss:visited{
            text-decoration: none;
        }
        #contact-list{
            display: none;
            position: fixed;
            bottom: 0;
            width: 90%;
            margin: 0 5% 10px 5%;
            z-index: 10;
        }
        .contact-information{
            max-height: 162px;
            width: 100%;
            border-radius: 6px;
            background-color: #fff;
            filter:alpha(opacity=70);
            /* CSS3 standard */
            opacity:0.7;
        }
        #cancel{
            height: 40px;
            width: 100%;
            margin-top: 5px;
            border-radius: 6px;
            background-color: #fff;
            filter:alpha(opacity=70);
            /* CSS3 standard */
            opacity:0.7;
        }
        #qq,
        #weChat{
            height: 40px;
            width: 100%;
            border: none;
            outline: none;
            background: transparent;
            border-bottom: solid 1px #ccc;
        }
        #telNum,
        #telCall,
        .cancel{
            height: 40px;
            width: 100%;
            border: none;
            outline: none;
            background: transparent;
        }
        /*@media (max-width:768px){
            .hw-layer-wrap{width:350px; margin-left:-175px; margin-top:-200px; padding:45px 50px; text-align:center;}
        }
        @media (max-width:400px){
            .hw-layer-wrap{width:250px; margin-left:-125px;padding:25px 30px;}
        }*/