body{
            margin:0;
            padding:0;
            font-family: "Microsoft YaHei UI";
        }
        p{
            margin:0;
            padding:0;
        }
        .fir-box{
            height: 40px;
            border-bottom: solid 1px #999;
            text-align: center;
            background: #fff;
            overflow: hidden;
        }
        .return-arr:link,
        .return-arr:visited{
            text-decoration: none;
            color:#999;
        }
        .return-arr{
            float: left;
            padding-left:4%;
            font-family: SimSun;
            font-weight: 900;
            font-size: 30px;
            line-height:40px;
        }
        .title{
            display: inline-block;
            font-size: 18px;
            line-height:40px;
            color: #666;
        }
        #collection{
            float: right;
            margin: 10px 4% 0 0 ;
            outline: none;
        }
        .sec-box{
            height:70px;
            position: relative;
            border-bottom:solid 5px #eee;
        }
        .userpic{
            position: absolute;
            left:12px;
            top:6px;
            border:solid 2px #ccc;
            border-radius: 29px;
        }
        .username{
            position: absolute;
            left:84px;
            top:6px;
            color: #666;
            font-size:14px;
        }
        .whatclass{
            position: absolute;
            left:84px;
            top:24px;
            color: #ccc;
            font-size:11px;
        }
        .issuetime{
            position: absolute;
            left:84px;
            top:40px;
            color: #999;
            font-size:14px;
        }
        .pricename{
            position: absolute;
            right:30px;
            top:8px;
            color: #666;
            font-size:11px;
        }
        .price{
            position: absolute;
            right:30px;
            top:40px;
            color: #f33;
            font-size:14px;
        }
        .goods-name{
            color: #666;
            font-size: 18px;
            height: 33px;
            padding-left:12px;
            line-height: 33px;
        }
        .product{
            clear: both;
            display: block;
            margin:auto;
            padding:2% 5%;
        }
        .address{
            padding-left: 12px;
            margin-top: 10px;
        }
        .address>span{
            color: #999;
            font-size: 14px;
        }
        .intro-product{
            overflow: hidden;
            padding-bottom:60px;
        }
        .intro-product>div{
            color: #666;
            font-size: 18px;
            height: 33px;
            padding-left:12px;
            line-height: 33px;
        }
        .intro-text{
            padding:0 12px 0 12px;
            font-size: 14px;
            line-height: 20px;
        }
        .contactcss{
            position: fixed;
            bottom: 0;
            width:100%;
            height: 60px;
            color: #fff;
            font-size: 18px;
            text-align: center;
            line-height: 60px;
            background: #f4ce49;
        }
        .contactcss:link,
        .contactcss:visited{
            text-decoration: none;
        }
        .hw-overlay{
            display:none;
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.3);
            z-index:10;
        }
        .hw-layer-wrap{
            box-sizing:border-box;
            width:570px;
            position:absolute;
            left:50%;top:50%;
            margin-left:-285px;
            border-radius:3px;
            background-color:#fff;
            box-shadow:1px 2px 4px 0 rgba(0,0,0,0.12);
            padding:45px 50px;
        }
        .hwLayer-close{
            position:absolute;
            right:20px; top:20px;
            width:20px; height:20px;
            cursor:pointer;
            font-size:20px;
            color:#ccc;
        }
        .hw-layer-wrap .hw-icon{
            color:#b4d8f3;
            font-size:86px;
            text-align:center;
        }
        .hw-layer-wrap h4{
            margin:5px 0 30px;
            font-size:24px;
            color:#383c3e;
        }
        .hw-layer-wrap p{
            margin:30px 0;
            line-height:22px;
            color:#595d60;
            text-align:left;
        }

        @media (max-width:768px){
            .hw-layer-wrap{width:350px; margin-left:-175px; margin-top:-200px; padding:45px 50px; text-align:center;}
        }
        @media (max-width:400px){
            .hw-layer-wrap{width:250px; margin-left:-125px;padding:25px 30px;}
        }