body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Microsoft yahei;
}

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	color: inherit;
}
a:link{
	text-decoration: none;
}
/*.head{
	position: relative;
	width: 100%;
	height: 64px;
	text-align: center;
	border-bottom:1px solid #999; 
	font-size: 17px;
	color: #666;
}
.head-return{
	position: absolute;
	left: 10px; 
	bottom: 10px;
	font-size: 17px;
}
.title{
	display: inline-block;
	margin-top: 30px;
}*/
.fir-box{
            height: 40px;
            text-align: center;
            border-bottom: solid 1px #999;
            background: #fff;
            overflow: hidden;
        }
        .return-arr:link,
        .return-arr:visited{
            text-decoration: none;
            color:#999;
        }
        .return-arr{
            float: left;
            padding-left:4%;
            font-family: SimSun;
            font-weight: 900;
            font-size: 30px;
            line-height:40px;
        }
        .title{
            display: inline-block;
            font-size: 18px;
            line-height:40px;
            color: #666;
        }
.main{
	padding-top: 10px;
	background-color: #eee;
}
.good{
	position: relative;
	float: left;
	width: 100%;
	height: 70px;
	margin-bottom: 5px;
	background-color: #fff;
	border-bottom: 1px solid #999;
}
.good-pic{
	float: left;
	margin: 10px;
	width: 50px;
	height: 50px;
}
.good-name{
	margin-top: 10px;
	font-size: 11px;
	color: #666;
}
.good-price{
	margin-top: 18px;
	font-size: 14px;
	color: #ff3333;
}
.good-out{
	position: absolute;
	right: 0;
	width: 38px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: #ffcc33;
	font-size: 14px;
	color: #fff;
}